html {
}

body {
  font: lighter 13pt 'Open Sans', 'Helvetica', sans-serif;
}

pre code {
  font-size: 10pt;
  white-space: pre;
  overflow: hidden;
}

.collapsed-menu-icon {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 150%;
  display: none !important;
}

html.home .collapse-menu-icon {
  display: inherit;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12pt;
  }
  pre {
    word-wrap: inherit;
  }
  pre code {
    font-size: 9pt;
    overflow: auto;
  }
}

.sidebar {
  margin: 20px 0 30px;
}

.sidebar li {
  margin: 0 0 7px;
}

.sidebar a {
  font-size: 120%;
}

@media screen and (max-width: 992px) {
  .sidebar {
  }

  .mobile-hidden {
    display: none;
    visibility: collapse;
    height: 0;
  }

  .jumbotron {
    margin: 0;
    padding: 0 0 10px;
  }
}
